# Copy this file to config.env and adjust paths if necessary.
export BRCA_ATLAS_ROOT="/data/Home/liyuhan_codex/PanCanCer_process/fastCNV/BRCA_data_process/scimilarity_research/multiscale_metastasis_atlas_v1"
export BRCA_ALL_DATA_H5AD="/data/Home/liyuhan_codex/PanCanCer_process/fastCNV/BRCA_data_process/Data_Save/BRCA_all_data.h5ad"
export BRCA_FASTCNV_H5AD="/data/Home/liyuhan_codex/PanCanCer_process/fastCNV/BRCA_data_process/Data_Save/BRCA_all_fastCNV_Epithelial.h5ad"
export BRCA_CELL_METADATA="/data/Home/liyuhan_codex/PanCanCer_process/fastCNV/BRCA_data_process/scimilarity_research/cancer_reference_atlas_v1/cell_metadata.csv.gz"
export BRCA_EXTERNAL_H5AD="/data/Home/liyuhan_codex/PanCanCer_process/fastCNV/BRCA_data_process/scimilarity_research/external_validation_GSE158399/results/GSE158399_epithelial_query_4k.h5ad"
export BRCA_DEVICE="cuda:0"

